<div class="body-inner">
<div id="banner-area">
    <img src="/assets/images/banner/banner1.jpg" alt="" />
    <div class="parallax-overlay">
        <div class="container-1">
            <div class="top-left">
                <h2  style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold'; color: whitesmoke;">Jaisinghani Jain <br> And <br> Associates</h2 >
                <h4>Chartered Accountants</h4>
            </div>
        </div>
    </div>
    <!-- Subpage title start -->
    <div class="banner-title-content">
        <div class="text-center">
            <h2>Our Team</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item text-white" aria-current="page"> Our Team</li>
                </ol>
            </nav>
        </div>
    </div><!-- Subpage title end -->
</div><!-- Banner area end -->
 <div class="gap-30"></div>
<div class="attorney_details container">
  <div class="row">
      <div class="col-12 pull-right attorney_history">
          <div class="name">
              <h4>CA. Nitin Batra</h4>
             
          </div> <!-- /name -->
          <div class="gap-0"></div>
          <div class="bio">
              <h6>Biography</h6>
              <p>Nitin is an Associate member of the Institute of Chartered Accountants of India (ICAI) since 2015 with more than 5 years of experience working extensively in Internal Audits. Previously associated with KPMG, Bengaluru for 2 years ,he joined the firm back in 2018 and is currently associated with Madhya Pradesh Cricket Association (MPCA) as an Internal Auditor.
              </p></div> 
              <!-- /bio -->
      </div> <!-- /attorney_history -->



          <!-- contact details -->
        

<div class="gap-40"></div>
       <!-- /attorney_sidebar -->
  </div> <!-- /row -->
</div> <!-- /attorney_details -->

</div>