<div class="body-inner">
<div id="banner-area">
    <img src="/assets/images/banner/banner1.jpg" alt="" />
    <div class="parallax-overlay">
        <div class="container-1">
            <div class="top-left">
                <h2  style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold'; color: whitesmoke;">Jaisinghani Jain <br> And <br> Associates</h2>
                <h4>Chartered Accountants</h4>
            </div>
        </div>
    </div>
    <!-- Subpage title start -->
    <div class="banner-title-content">
        <div class="text-center">
            <h2>Our Team</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item text-white" aria-current="page"> Articles</li>
                </ol>
            </nav>
        </div>
    </div><!-- Subpage title end -->
</div><!-- Banner area end -->
</div>