<div class="body-inner">
<div id="banner-area">

    <img src="/assets/images/banner/banner1.jpg" alt="" />
   
    <div class="parallax-overlay">
        <div class="container-1">
            <div class="top-left">
                <h2  style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold'; color: whitesmoke;">Jaisinghani Jain <br> And <br> Associates</h2 >
                <h4>Chartered Accountants</h4>
            </div>
        </div>
    </div>
    <!-- Subpage title start -->
    <div class="banner-title-content">
       
        <div class="text-center">
            <h2>Our Team</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item text-white" aria-current="page">Our Team</li>
                </ol>
            </nav>
        </div>
    </div><!-- Subpage title end -->
</div><!-- Banner area end -->
<div class="gap-30"></div>
<div class="attorney_details container">
  <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 pull-right attorney_history">
          <div class="name">
              <h4>CA. Sachin Jain</h4>
             
          </div> <!-- /name -->

          <div class="bio">
              <h6>Biography</h6>
              <p>Sachin is an Associate member of the Institute of Chartered Accountants of India (ICAI) since 2015 with more than 5 years of experience working extensively in finance sector. He is a Certified Concurrent Auditor of Banks since 2018. A passionate and adept financial expert, prior to being a partner at the firm, Sachin worked as a Branch credit manager at Reliance Capital Ltd., Indore, a that time leading NBFC of India. His key responsibilities were loan underwriting, business analytics, customer interaction & branch upkeep. He gained an expertise of the business practices observed at such institutions thereby developing a sound understanding of their environment and the concerns involved.
              In 2017 he joined the firm and since then has been one of the co-founder of the said partnership.
                  
              </p></div> 
              <!-- /bio -->


          <div class="honors">
              <h6>Interests</h6>
  <p>Sachin is a professional certified swimmer and a ardent cricket follower.</p></div>
   <!-- /honors -->

      </div> <!-- /attorney_history -->


      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 attorney_sidebar pull-left side_bar ">
        <div class="img_holder">
            <img style="width: 70%;height: 70%;" src="/assets/images/Photo Sachin (1).jpg" alt="iamges" class="img-responsive">
        </div> <!-- /img_holder -->
         <br>

          <!-- contact details -->
          <div class="contact_details">
          <div class="our_brochure">
          <div class="single_contact_info">
                  <div class="icon"><span class="transition3s ficon flaticon-phone"></span></div> <!-- /icon -->
                  <div class="contact_info">
                      <h6>Phone</h6>
                      <span>8965907937</span>
                  </div> <!-- /contact_info -->
              </div>
              <br>
          <div class="single_contact_info">
                  <div class="icon"><span class="transition3s ficon flaticon-message"></span></div> <!-- /icon -->
                  <div class="contact_info">
                      <h6>Email</h6>
                      <span> casachin1912@gmail.com</span>
                  </div> <!-- /contact_info -->
                  <div class="team-social">
                    <a class="fb" href="https://www.facebook.com/jsachin19"><i class="fa fa-facebook"></i></a>
                    <a class="twt" href="https://twitter.com/jn_sachin19"><i class="fa fa-twitter"></i></a>
                    <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                    <a class="linkdin" href="http://linkedin.com/in/ca-sachin-jain-74792a10a"><i class="fa fa-linkedin"></i></a>
                   
                </div>
              </div>
              
          </div>

          </div> <!-- /contact_details -->


<div class="gap-60"></div>
      </div> <!-- /attorney_sidebar -->
  </div> <!-- /row -->
</div> <!-- /attorney_details -->
</div>