<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
    <!-- Footer start -->
    <div id="section7">
        <footer id="footer" class="footer">
           <div class="container">
             <div class="row">
               <div class="col-md-6 col-sm-12 footer-widget">
              
                 <h3 class="widget-title">Important Links</h3>
                 <ul>
     
                 <li  class="importlink"><a href="https://www.incometaxindia.gov.in/Pages/default.aspx"><strong>Income Tax</strong></a></li>
     
                 <li  class="importlink"><a href=" https://www.incometaxindiaefiling.gov.in/home"><strong>E-filing</strong> </a></li>
     
                 <li  class="importlink"><a href="- https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp"><strong>Payment Direct taxes</strong> </a></li>
     
                 
                 <li  class="importlink"><a href=" https://www.gst.gov.in/"><strong>Goods and Service Tax </strong> </a></li>
     
                 <li  class="importlink"><a href="http://cbic.gov.in/htdocs-cbec/gst/index"><strong>Central Board of Indirect Taxes</strong> </a></li>
     
                 <li  class="importlink"><a href="http://gstcouncil.gov.in/"><strong>GST Council</strong> </a></li>
     
                 <li  class="importlink"><a href="http://www.mca.gov.in/"><strong>Ministry of Corporate affairs</strong> </a></li>
     
                 <li  class="importlink"><a href=" http://www.rera.mp.gov.in/"><strong>MP RERA</strong> </a></li>
     
                 <li  class="importlink"><a href=" https://www.rbi.org.in/Scripts/NotificationUser.aspx"><strong>Reserve Bank of India(Scripts) </strong> </a></li>
     
                 <li  class="importlink"><a href=" https://www.rbi.org.in/Scripts/NotificationUser.aspx?Id=9009&Mode=0"><strong>Reserve Bank of India(Notifications)</strong> </a></li>
     
                 <li  class="importlink"><a href=" https://www.icai.org/indexbkp.html"><strong>The Institute of Chartered Accountants of India</strong> </a></li>
               </ul>
               </div>
              <!-- contact starts -->
               <div class="col-md-6 col-sm-12 footer-widget footer-about-us">
                 <h3 class="widget-title">JAISINGHANI JAIN AND ASSOCIATES<p>Chartered Accountants</p></h3>
             
                     
                 <h4>Address</h4>
                 <p><i class="fa fa-home info"></i>  12, First Floor,
                     Johari Palace,
                    <br>Near Treasure Island Mall, Indore</p>
                 <div class="row">
                   <div class="col-md-6">
                     <h4>Email:</h4>
                     <p> <i class="fa fa-envelope-o info"></i> cajandj@gmail.com </p>
                   </div>
                   <div class="col-md-6">
                     <h4>Phone No.</h4>
                     <p> <i class="fa fa-phone info"></i>  0731-4030801</p>
                   </div>
                 </div>
                 <form action="#" role="form">
                   <div class="input-group subscribe">
                     <input type="email" class="form-control" placeholder="Email Address" required="">
                     <span class="input-group-addon">
                       <button class="btn" type="submit"><i class="fa fa-envelope-o"> </i></button>
                     </span>
                   </div>
                 </form>
               </div>
               <!--/ end contact us -->
            
         </div><!-- Row end -->
           </div><!-- Container end -->
        </footer><!-- Footer end -->
     
     
         <!-- Copyright start -->
         <section id="copyright" class="copyright angle">
           <div class="container">
             <div class="row">
               <div class="col-md-12 text-center">
                 <ul class="footer-social unstyled">
                   <li>
                     <a title="Twitter" href="#">
                       <span class="icon-pentagon wow bounceIn"><i class="fa fa-twitter"></i></span>
                     </a>
                     <a title="Facebook" href="#">
                       <span class="icon-pentagon wow bounceIn"><i class="fa fa-facebook"></i></span>
                     </a>
                     <a title="Google+" href="#">
                       <span class="icon-pentagon wow bounceIn"><i class="fa fa-google-plus"></i></span>
                     </a>
                     <a title="linkedin" href="#">
                       <span class="icon-pentagon wow bounceIn"><i class="fa fa-linkedin"></i></span>
                     </a>
                    </li>
                 </ul>
               </div>
             </div>
             <!--/ Row end -->
             <div class="row">
               <div class="col-md-12 text-center">
                 <div class="copyright-info">
                   &copy; Copyright 2020 Jaisinghani Jain & Associates. 
                   <button class="button" (click)="disclamier()">Disclamier</button>
                 </div>
               </div>
             </div>
             <!--/ Row end -->
             
           </div>
           <!--/ Container end -->
         </section>
         <!--/ Copyright end -->
     
     </div>
     </div>
    