<div class="body-inner">
<div id="banner-area">
    <img src="/assets/images/banner/banner1.jpg" alt="" />
    <div class="parallax-overlay">
        <div class="container-1">
            <div class="top-left">
                <h2  style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold'; color: whitesmoke;">Jaisinghani Jain <br> And <br> Associates</h2>
                <h4>Chartered Accountants</h4>
            </div>
        </div>
    </div>
    <!-- Subpage title start -->
    <div class="banner-title-content">
        <div class="text-center">
            <h2>Our Team</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item text-white" aria-current="page"> Our Team</li>
                </ol>
            </nav>
        </div>
    </div><!-- Subpage title end -->
</div><!-- Banner area end -->
 <div class="gap-30"></div>
<div class="attorney_details container">
  <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 pull-right attorney_history">
          <div class="name">
              <h4>CA. Ankit Jaisinghani</h4>
              
          </div> <!-- /name -->

          <div class="bio">
              <h6>Biography</h6>
              <p>Ankit is an Associate member of the Institute of Chartered Accountants of India (ICAI) since 2015 with more than 5 years of experience working extensively in Auditing, Taxation and Corporate Law matters. He is a qualified DISA Member (Diploma in Information Systems Security and Audit) since 2018.
              He started his Individual practice as soon as he completed his Chartered Accountancy course back in 2015.
              </p></div> 
              <!-- /bio -->


          <div class="honors">
              <h6>Interests</h6>
  <p>Ankit is an avid reader, traveler and a big Sports enthusiast. He is also a Certified marathon runner & cycling professional.</p></div>
   <!-- /honors -->

      </div> <!-- /attorney_history -->


      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 attorney_sidebar pull-left side_bar ">
          <div class="img_holder">
              <img style="width: 70%; height: 70%;" src="/assets/images/Photo Ankit new copy++.JPG" alt="iamges" class="img-responsive">
          </div> <!-- /img_holder -->
<br>
          <!-- contact details -->
          <div class="contact_details">
          <div class="our_brochure">
          <div class="single_contact_info">
                  <div class="icon"><span class="transition3s ficon flaticon-phone"></span></div> <!-- /icon -->
                  <div class="contact_info">
                      <h6>Phone</h6>
                      <span>9826086480, 9479686480</span>
                  </div> <!-- /contact_info -->
              </div>
              <br>
          <div class="single_contact_info">
                  <div class="icon"><span class="transition3s ficon flaticon-message"></span></div> <!-- /icon -->
                  <div class="contact_info">
                      <h6>Email</h6>
                      <span> ankitjaisinghani28@gmail.com</span>
                  </div> <!-- /contact_info -->
                  <div class="team-social">
                    <a class="fb" href="https://www.facebook.com/ankit.jaisinghani"><i class="fa fa-facebook"></i></a>
                    <a class="twt" href="https://www.facebook.com/ankit.jaisinghani"><i class="fa fa-twitter"></i></a>
                    <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                    <a class="linkdin" href=" https://www.linkedin.com/in/ankit-jaisinghani-01bb19199"><i class="fa fa-linkedin"></i></a>
                   
                </div>
              </div>
              
          </div>

          </div> <!-- /contact_details -->


          <div class="gap-60"></div>
      </div> <!-- /attorney_sidebar -->
  </div> <!-- /row -->
</div> <!-- /attorney_details -->
</div>