<div class="body-inner">   <!-- Header start -->
        <header id="header" class="fixed-top header" role="banner">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <button class="navbar-toggler ml-auto border-0 rounded-0 text-white" type="button" data-toggle="collapse"
                        data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>
        
                    <div class="collapse navbar-collapse text-center" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown ">
                                <a class="nav-link " href="#section1" role="button" >
                                    Home
                                </a>
                               
                            </li>
                            <li class="nav-item dropdown ">
                                <a class="nav-link " href="#section2" role="button">
                                    About Us
                                </a>
                               
                            </li>
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Our Team
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/ankit">CA. Ankit Jaisinghani
                                    </a>
                                    <a class="dropdown-item" href="/sachin">CA. Sachin Jain</a>
                                    <a class="dropdown-item" href="/nitin">CA. Nitin Batra</a>   
                                  
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Services
                                </a>
                                <div class="dropdown-menu" >
                                    <a class="dropdown-item" href="/audit">Audit And Assurance
                                    </a>
                                    <a class="dropdown-item" href="/taxation">Taxation Consultancy</a>
                                    <a class="dropdown-item" href="/corporate">Corporate Advisory</a>
                                    <a class="dropdown-item" href="/management">Management Consultancy Services</a>
                                    <a class="dropdown-item" href="/accounts">Accounts, Outsourcing and Others</a>
                                    <a class="dropdown-item" href="/startup">Start-Up</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown ">
                                <a class="nav-link " href="/industry" role="button">
                                   Industry
                                </a>
                               
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#section6">Career</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Important Links
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="https://www.incometaxindia.gov.in/Pages/default.aspx">Income Tax
                                    </a>
                                    <a class="dropdown-item" href=" https://www.incometaxindiaefiling.gov.in/home">E-filing</a>
                                    <a class="dropdown-item" href="- https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp">Payment Direct taxes</a>
                                    <a class="dropdown-item"  href=" https://www.gst.gov.in/">Goods and Service Tax </a>
                                    <a class="dropdown-item" href="http://cbic.gov.in/htdocs-cbec/gst/index">Central Board of Indirect Taxes</a>
                                    <a class="dropdown-item" href="http://gstcouncil.gov.in/">GST
                                    Council</a>
                                    <a class="dropdown-item"href="http://www.mca.gov.in/">Ministry of Corporate affairs</a>
                                    <a class="dropdown-item" href=" http://www.rera.mp.gov.in/">MP RERA</a>
                                    <a class="dropdown-item"href=" https://www.rbi.org.in/Scripts/NotificationUser.aspx">Reserve Bank of India(Scripts)</a>
                                    <a class="dropdown-item" href=" https://www.rbi.org.in/Scripts/NotificationUser.aspx?Id=9009&Mode=0">Reserve Bank of India(Notifications)</a>
                                    <a class="dropdown-item" href=" https://www.icai.org/indexbkp.html">The Institute of Chartered Accountants of India</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/article">Articles</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="#section8">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!--/ Header end -->
    </div>





