<div class="body-inner">
<div id="banner-area">
	<img src="/assets/images/banner/banner1.jpg" alt="" />
	<div class="parallax-overlay">
        <div class="container-1">
            <div class="top-left">
                <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold'; color: whitesmoke;">Jaisinghani Jain <br> And <br> Associates</h2 >
                <h4>Chartered Accountants</h4>
            </div>
        </div>
    </div>
	<!-- Subpage title start -->
	<div class="banner-title-content">
		<div class="text-center">
			<h2>Service Single</h2>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item text-white" aria-current="page">Industry	</li>
				</ol>
			</nav>
		</div>
	</div><!-- Subpage title end -->
</div><!-- Banner area end -->
<div class="gap-30"></div>
<div class="container">
<div class="col-md-12 heading">
    <span class="title-icon classic float-left" ><i class="fa fa-user"></i></span>
	<h2 class="title classic" >Industries we serve</h2>
	<br>
	<br>
	<p>Putting customer's first. As our mission, due to this objective only we have diversified clientele. Client turnover is a phenomenon which is rarely witnessed by us. Its just that our client list keeps on growing.</p>
</div>

<h4>Client Segments</h4>
<div class="row">
<div class="col-6">
<ul>
	<li>Agro chemicals</li>
	<li>Agriculture - Equipments & Pumps</li>
	<li>Automobiles</li>
	<li>C&F & Distributorship</li>
	<li>Cable & Communication</li>
	<li>Cement</li>
	<li>Clubs</li>
	<li>Construction</li>
	<li>Dairy - Milk & Milk Product</li>
	<li>Engineering</li>
	<li>Engineering - Measuring Machines & Precision Tools</li>
	<li>Engineering - Metal</li>
	<li>Engineering - Electronics</li>
	<li>Education</li>
	<li>Fertilizer</li>
	<li>Financial Services</li>
	<li>FMCG</li>
	<li>Food & Beverages</li>
	<li>Health care & Hospital</li>
	<li>Hotels</li>
	<li>Infrastructure</li>
	<li>Jewellery</li>
	<li>Metal</li>
	<li>Metal - Copper</li>

	
</ul>
</div>
<div class="col-6">
	<li>Pesticides</li>
	<li>Plastic - PET Bottles</li>
	<li>Plastic - Polystyrene</li>
	<li>Pharmaceuticals</li>
	<li>Printing - Media</li>
	<li>Processed foods</li>
	<li>Radio Broadcasting</li>
	<li>Real Estate</li>
	<li>Software and Web development</li>
	<li>Oil-Edible</li>
	<li>School</li>
	<li>Scrap</li>
	<li>Steel - MS Slab, HR, CR, GPGC & Pipes</li>
	<li>Stock Broking</li>
	<li>Tele-Marketing</li>
	<li>Textile</li>
	<li>Trading</li>
	<li>Transportation</li>
	<li>Warehousing</li>
	<li>Wood</li>
	<li>Packaging</li>
	<li>Paints - Synthetic Resin</li>
	<li>Paper</li>
</div>
</div>
</div>
</div>