<div class="body-inner">

<div id="banner-area">
    <img  src="/assets/images/banner/banner1.jpg" alt="" />
	<div class="parallax-overlay">
        <div class="container-1">
            <div class="top-left">
                <h2  style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold'; color: whitesmoke;">Jaisinghani Jain <br> And <br> Associates</h2 >
                <h4>Chartered Accountants</h4>
            </div>
        </div>
    </div>
    <!-- Subpage title start -->
    <div class="banner-title-content">
        <div class="text-center">
            <h2>Corporate Advisory</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item text-white" aria-current="page">Our Services</li>
                </ol>
            </nav>
        </div>
    </div><!-- Subpage title end -->
</div><!-- Banner area end -->


<!-- Main container start -->
<section id="main-container">
	<div class="container">
		<div class="col-md-12 heading">
			<span class="title-icon classic float-left" style="margin-top: 10px;"><i class="fa fa-users"></i></span>
			<h2 class="title classic" style="color:#d62109;margin-top: 10px;">Corporate Advisory</h2>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="post-content">
					<div class="post-image-wrapper">
						<img class="teamimg" src="/assets/images/office-1209640_1920.jpg"  alt="" />
					</div><!-- post image end -->
					<p>A detailed understanding of our clients’ needs helps us provide specific financial models for their future growth. We provide end-to-end corporate advisory services for our clients.</p>

					<div class="gap-20"></div>

					<div class="row">
						<div class="feature-box col-sm-6 wow fadeInDown" data-wow-delay=".5s">
							<span class="feature-icon float-left"><i class="fa fa-newspaper-o"></i></span>
							<div class="feature-content">
								<h3>Corporate Law Consultancy</h3>
							</div>
						</div>
						<!--/ End first featurebox -->

						<div class="feature-box col-sm-6 wow fadeInDown" data-wow-delay=".5s">
							<span class="feature-icon float-left"><i class="fa fa-codepen"></i></span>
							<div class="feature-content">
								<h3>Companies and LLP formation and Management</h3>
							</div>
						</div>
						<!--/ End 2nd featurebox -->
					</div>
                    <!-- 1st row ends -->
					<div class="gap-20"></div>

					<div class="row">

						<div class="feature-box col-sm-6 wow fadeInDown" data-wow-delay=".5s">
							<span class="feature-icon float-left"><i class="fa fa-codepen"></i></span>
							<div class="feature-content">
								<h3>Mergers & Acquisitions</h3>
								
							</div>
						</div>
						<!--/ End 1st featurebox -->

						<div class="feature-box col-sm-6 wow fadeInDown" data-wow-delay=".5s">
							<span class="feature-icon float-left"><i class="fa fa-newspaper-o"></i></span>
							<div class="feature-content">
								<h3>Due Diligence services</h3>
								
							</div>
						</div>
						<!--/ End 2nd featurebox -->
                    </div>
                    <!-- 2nd row ends -->
                    <div class="gap-20"></div>

					<div class="row">
						<div class="feature-box col-sm-6 wow fadeInDown" data-wow-delay=".5s">
							<span class="feature-icon float-left"><i class="fa fa-newspaper-o"></i></span>
							<div class="feature-content">
								<h3>Business and Share Valuation</h3>
							</div>
						</div>
						<!--/ End first featurebox -->

						<div class="feature-box col-sm-6 wow fadeInDown" data-wow-delay=".5s">
							<span class="feature-icon float-left"><i class="fa fa-codepen"></i></span>
							<div class="feature-content">
								<h3>Feasibility studies, Investigations and Takeovers</h3>
							</div>
						</div>
						<!--/ End 2nd featurebox -->
                    </div>
                     <!-- 3rd row ends -->
                    <div class="gap-20"></div>

                    <div class="row">
						<div class="feature-box col-sm-6 wow fadeInDown" data-wow-delay=".5s">
							<span class="feature-icon float-left"><i class="fa fa-codepen"></i></span>
							<div class="feature-content">
								<h3>Monitoring of Funds Management</h3>
							</div>
						</div>
						<!--/ End first featurebox -->

						<div class="feature-box col-sm-6 wow fadeInDown" data-wow-delay=".5s">
							<span class="feature-icon float-left"><i class="fa fa-newspaper-o"></i></span>
							<div class="feature-content">
								<h3>Review and Structuring of Financial and Managerial Resources</h3>
							</div>
						</div>
						<!--/ End 2nd featurebox -->
                    </div>
                     <!-- 4rd row ends -->
                    <div class="gap-20"></div>
				</div>
				<!--/ post content end -->
			</div>
			<!--/ Content col end -->

			
			<!--/ Sidebar col end -->
		</div>
		<!--/ row end -->
	</div>
	<!--/ container end -->
</section>
<!--/ Main container end -->
</div>