/* You can add global styles to this file, and also import other style files */

.swal2-confirm, swal2-styled {
   color: #ee3b24 !important;
    background-color: black !important;
}
.swal2-title {
color: black !important;

}
.swal2-html-container {
    color: black;
    background-color: #ee3b24;
}

.swal2-show{
    background-color:#ee3b24 !important ;
}
